.services {
  padding: 8rem calc((100vw - 1200px) / 2);
  //   background: red;

  &_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 1rem;

    &--topline {
      color: var(--red);
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: clamp(1.8rem, 4vw, 3rem);
      margin-bottom: 1.2rem;
      font-weight: bold;
    }
  }

  .services_features {
    list-style: none;
    &--feature {
      margin-bottom: 1.5rem;
      .bx-check-circle {
        color: var(--red);
        margin: 0 0.5rem;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
  }
  .services_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
