@import 'media-queries';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  background: var(--red);
  color: var(--white);

  @include tablet {
    padding: 1rem 2.2rem;
    width: 100%;
    min-width: 350px;
  }

  @include mobile {
    width: 100%;
    min-width: 250px;
  }
}

.btn:hover {
  background: var(--black);
  transition: all 0.2s ease;
}

.scrollup {
  position: fixed;
  background: var(--red);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #fa5059;
    opacity: 1;
  }
  &__icon {
    font-size: 1.25rem;
    color: var(--white);
  }
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

@import 'navbar';
@import 'hero';
@import 'services';
@import 'memberships';
@import 'team';
@import 'email';
@import 'footer';
